@attribute [RouteAttribute("/" + RelativePageUrls.MainView)]

@inject ILocalStorageService localStorage

<h1>Hello, world!</h1>

<button class="btn btn-primary">@_buttonText</button>


@code
{
    private string _buttonText => _isDayStarted ? "Sign in" : "Sign out";

    private bool _isDayStarted;

    private List<Day>? CurrentMonthDays { get; set; }

    protected override async Task OnInitializedAsync()
    {

    }
}

