<Column ColumnSize="ColumnSize.IsAuto" Margin="Margin.IsAuto">
	<Addons>
		<Addon AddonType="AddonType.Start">
			<AddonLabel>
				@LabelText
			</AddonLabel>
		</Addon>
		<Addon AddonType="AddonType.End" Class="text-center">
			<Button Color="Color.Primary" Clicked="Clicked">
				@ButtonText
			</Button>
		</Addon>
	</Addons>
</Column>

@code
{
	[Parameter]
	public string LabelText { get; set; } = null!;

	[Parameter]
	public string ButtonText { get; set; } = null!;

	[Parameter]
	public EventCallback Clicked { get; set; }
}
